<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title> Database user view </title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" media="screen" href="stylesDatabase.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">		
		<script src="DatabaseUserView.js" type="text/javascript"></script>
		</head>
	<body>
	<section class="generalSection">
		<section>
			<h3> The Country Data Database</h3>
			<table>
				<tr> 
					<th>
						Country
					</th> 
					<th>
						e<sub>elec</sub>
					</th>
					<th>
						PV
					</th>
					<th>
						Wind
					</th>
					<th>
						Hydro
					</th>
					<th>
						e<sub>heat</sub>
					</th>
					<th>
						e<sub>Fuel</sub>
					</th>
					<th>
						e<sub>gas</sub>
					</th>
					<th>
						CH<sub>4</sub>
					</th>
					<th>
						N<sub>2</sub>O
					</th>
					<th>
						n<sub>vehicle Dry</sub>
					</th>
					<th>
						exhaust Dry
					</th>
					<th>
						n<sub>vehicle Liquid</sub>
					</th>
					<th>
						exhaust Liquid
					</th>
					<th>
						LHV <sub>Wasted wood</sub>
					</th>
					<th>
						LHV <sub>Sawdust</sub>
					</th>
					<th>
						LHV <sub>Methane</sub>
					</th>
					<th>
						Tree
					</th>
					<th>
						House
					</th>
				</tr>
				<tr  class="units">
						<td></td>
						<td>g<sub>CO<sup>2</sup></sub>/kWh</td>
						<td>g<sub>CO<sup>2</sup></sub>/kWh</td>
						<td>g<sub>CO<sup>2</sup></sub>/kWh</td>
						<td>g<sub>CO<sup>2</sup></sub>/kWh</td>
						<td>g<sub>CO<sup>2</sup></sub>/MJ</td>
						<td>g<sub>CO<sup>2</sup></sub>/MJ</td>
						<td>g<sub>CO<sup>2</sup></sub>/MJ</td>
						<td>fCH<sub>4</sub>-CO<sub>2</sub></td>
						<td>fN<sub>2</sub>O-CO<sub>2</sub></td>
						<td>MJ/(ton km)</td>
						<td>g<sub>CO<sub>2</sub></sub>/(ton km)</td>
						<td>MJ/(ton km)</td>
						<td>g<sub>CO<sub>2</sub></sub>/(ton km)</td>
						<td>MJ/kg</td>
						<td>MJ/kg</td>
						<td>MJ/kg</td>
						<td>kg<sub>CO<sub>2</sub></sub>/tree</td>
						<td>kg<sub>CO<sub>2</sub></sub>/house / year</td>
				</tr>

				<tr>	
				<% for (var i=0; i < 19 ; i++){%>
					<td>
						<i  id="units<%= i %>" class="far fa-question-circle"></i>
					</td>
				<%}%>
				</tr>

				<% for (var i=0; i < (countries.length); i++){%>
					<tr>
					<td>
					<%=countries[i].country%>
					</td>
					<td>
					<%=countries[i].eelec%>
					</td>
					<td>
					<%=countries[i].esaved_PV%>
					</td>
					<td>
					<%=countries[i].esaved_wind%>
					</td>
					<td>
					<%=countries[i].esaved_hydro%>
					</td>
					<td>
					<%=countries[i].eheat%>
					</td>
					<td>
					<%=countries[i].efuel%>
					</td>
					<td>
					<%=countries[i].egas%>
					</td>
					<td>
					<%=countries[i].fCH4_CO2%>
					</td>
					<td>
					<%=countries[i].fN2O_CO2%>
					</td>
					<td>
					<%=countries[i].nvehicle_Dry%>
					</td>
					<td>
					<%=countries[i].etransport_exhaust_Dry%>
					</td>
					<td>
					<%=countries[i].nvehicle_Liquid%>
					</td>
					<td>
					<%=countries[i].etransport_exhaust_Liquid%>
					</td>
					<td>
					<%=countries[i].LHV_Demolitoion_Wood%>
					</td>
					<td>
					<%=countries[i].LHV_Sawdust%>
					</td>
					<td>
					<%=countries[i].LHV_Methane%>
					</td>
					<td>
					<%=countries[i].etree%>
					</td>
					<td>
					<%=countries[i].ehouse%>
					</td>
					</tr>
				<%}%>
				<tr>
				<td>
				</td>
				<td>
					<i  id="1" class="far fa-question-circle"></i>
					<i  id="1-1" class="second far fa-question-circle"></i>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
				</td>
				<td>
					<i  id="2" class="far fa-question-circle"></i>
					<i  id="2-1" class="second far fa-question-circle"></i>
				</td>
				<td>
				<i  id="3" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id="4" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id="5" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id="6" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id ="7" class="far fa-question-circle"></i>
				</td>
				<td>
				</td>
				<td>
				<i  id="8" class="far fa-question-circle"></i>
				</td>
				<td>
				</td>
				<td>
				<i  id="9" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id="10" class="far fa-question-circle"></i>
				</td>
				<td>
				<i  id="11" class="far fa-question-circle"></i>
				</td>
				<td>
				<a><i  id="12" class="far fa-question-circle"></i></a>
				</td>
				<td>
				<a><i  id="13-1" class="far fa-question-circle"></i></a>
				<a><i  id="13-2" class="second far fa-question-circle"></i></a>
				</td>
				</tr>
			</table>
			</section>
			
			<button onclick="self.close()"> Go back </button>
    </section>

    </body>
</html>