<!DOCTYPE HTML>
<html lang=<%=language%>>
	<head>
		<title> Green House Gas Calculator </title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" media="screen" href="styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<script  src="js/GHG.js" ></script>
		<script src="js/Request.js"></script>
		<script src="js/Units.js"></script>
				
		</head>
	<body>
		<header>
			<a href="/"><img class="icon" alt="English" src="img/English.png"> </a> 
			<a href="/spanish"> <img  class="icon" alt="Spainsh" src="img/Spain.png"></a>
			<a href="/french"> <img  class="icon" alt="French" src="img/France.png"></a>
			<br>

			<section id="finalEnergySelector" style="display:none">
							<select id="selector"  onchange=" energySelector()" >
								
								<option disabled selected value><%=energySelector1%> </option>
								<option value="IWH"><%=energySelector2%></option>
								<option value="DW"><%=energySelector3%></option>
								<option value="Saw"><%=sawdust%></option>
								<option value="Man"><%=energySelector4%></option>
							</select>
						</section>
					
		</header>
		<main>

				

				<section class="row"> 

						<section class="column">
							<img class="logo" src="img/interreg_logo.png" alt="ECCO logo">
						</section>
						<section class="column" >
						<section id="resultSection" style="display:none">
							<table  id="results" >
								<tr>
									<th><%=country%></th>
									<th><select id="resultsUnits" onchange="resultTableListener()"> 
											<option selected value="Ton">TonCO2</option>
											<option value="K">kgCO2</option>
										</select>
										/<%=year%></th>
									<th> <i id="treesToolTip" class="far fa-question-circle"></i> <%=trees%></th>
									<th> <i id="housesToolTip" class="far fa-question-circle"></i> <%=houses%></th>
								</tr>
								<tr>
									<td > 
										<select id="country">
										</select>
										</td>
									<td> <span id="co2">0</span> 
									</td>
									<td id="trees">0</td>
									<td id="houses">0</td>			
									</tr>
							</table>
							</section>
						</section>
						<section class="column">
							<img class="logo" src="img/logo_cit.png" alt="CIT logo">
						</section>
					</section>


			<section id="firstScreen" class="myForm">
					<h3><%=initialSelector%></h3>
					<select id="initialSelector"  onchange="initialEnergySelector()" >
								
								<option disabled selected value><%=energySelector1%> </option>
								<option value="IWH"><%=energySelector2%></option>
								<option value="DW"><%=energySelector3%></option>
								<option value="Saw"><%=sawdust%></option>
								<option value="Man"><%=energySelector4%></option>
							</select>
						</section>
				</section>


			<section id="containerIntro">
				<section class="intro">
				
					<h3 id="titleIntro"> 
						<%= titleIntro %>
						</h3>
					<p id="descriptionIntro">
						<%= descriptionIntro1 %><br>
						<%= descriptionIntro2 %><br>
						
					<button id="start" class="btn btn-success" onclick="loadFirstScreen()">  <%= start %>  <i style="padding-left: 10%;" class="fas fa-play"></i> </button>
					</p>
				</section>
			</section>
		
		<a id="goDatabaseView" href="/databaseUserView" target="_blank">View database data</a>
			<section id="show">
				<span></span>
			</section>

			<section class="myForm" id="WindForm" style="display:none"> 
				<h3> <%= outputWind %> <i class="fas fa-plug"></i></h3>
				<h4> <i id="wind-type" class="far fa-question-circle"></i> <%=energyType%></h4>
				<select id="typeOfEnergy">
					<option value="wind"><%=windType%></option>
					<option value="pV"><%=pvType%></option>
					<option value="Hydroelectric"><%=hydroType%></option>
				</select>

				<h4> <i id="wind-anual" class="far fa-question-circle"></i> <%= windAnualProduction %></h4>
				<input type="text" id="yearProduction">
				<select>
								<option value="G">GWh</option>
								<option selected value="M">MWh</option>
								<option value="K">kWh</option>
				</select>
				<sub><%=electricityUnit%></sub>/<%=year%>
				 <br> 
				
				<br>
				<button id="calculateWind" > <%=calcular%> </button>	
			</section>

			<section class="myForm" id="woodPellets" style="display: none">
				<table id="woodPelletsTable">
					<tr  class="titleRow">
						<th><%=inputting%> <i class="fas fa-tree"></i></th>
						<th><%=pellezitation%> <i class="fas fa-braille"></i></th>
						<th><%=trandsportation%> <i class="fas fa-truck-loading"></i></th>
						<th><%=combustion%> <i class="fab fa-gripfire"></i></th>
						<th><%= outputWind %>  <i class="fas fa-plug"></i></th>
					</tr>
					<tr class="subtitleRow">
						<td class="subtitleCell"><%=sawdust%></td>
						<td class="subtitleCell"><%=pellets%></td>
						<td class="subtitleCell"><%=transportedPelletTitle%></td>
						<td class="subtitleCell"><%=converted%></td>
						<td class="subtitleCell"><%=heatElectricity%></td>
					</tr>
					<tr>
						<th colspan="5">
							<i id="pellets-anual" class="far fa-question-circle"></i> <%=anualProductionTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="4"></td>
						<td>
							<input placeholder="0" id="pelletEllectOutput"> 
							<select>
								<option value="G">GWh</option>
								<option selected value="M">MWh</option>
								<option value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub> <br>
							<input placeholder="0"  id="pelletHeatOutput"> 
							<select>
								<option selected value="G">GJ</option>
								<option value="M">MJ</option>
								<option value="K">kj</option>
							</select>
							<sub><%=heat%></sub>/<%=year%>
						</td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-anual-weight" class="far fa-question-circle"></i> <%=anualWeightPellets%>
							<button class="maximizeRow">+</button>
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="2"></td>
						<td>
							<input  placeholder="0"  id="trasportedPellets"> 
							<select>
								<option selected value="Ton">Ton</option>
								<option value="K">kg</option>
							</select>
							<sub><%=transportedPellets%></sub>/<%=year%>
						</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-lost" class="far fa-question-circle"></i> <%=percentageLostTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td>
							<input type="number" min="0" max="10" placeholder="0"  id="percentege_feedstock_sawdust_loss">
							&percnt;<sub><%=feedstockSawdust%></sub>
						</td>
						<td><input type="number" min="0" max="10"  placeholder="0"  id="sawdust_loss">
							&percnt;<sub><%=sawdustUnit%></sub>
						</td>
						<td>
							<input type="number" min="0" max="10"  placeholder="0"  id="pellets_loss">
							&percnt;<sub><%=pelletsUnit%></sub>
						</td>
						<td>
							<input type="number" min="0" max="10" placeholder="0" id="transported_pellets_loss">
							&percnt;<sub><%=transportedPellets%></sub>
						</td>
						<td></td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-gas-electricity-used" class="far fa-question-circle"> </i> <%=electricityWasted%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td></td>
						<td>
							<input placeholder="115" id="electricityPelletization">
							<select>
								<option value="G">GWh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select><sub><%=electricityUnit%></sub>/ton<sub><%=pelletsUnit%></sub>
							<br>
							<input  placeholder="0"  id="heatPelletication"><select>
								<option value="G">GJ</option>
								<option selected value="M">MJ</option>
								<option value="K">kj</option>
							</select>
							<sub>gas</sub>/ton<sub><%=pelletsUnit%></sub>
						</td>
						<td></td>
						<td>
							<input placeholder="0"  id="electricityTransportedPellets">
							<select>
								<option value="G">GWh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=transportedPellets%></sub>
							<br>
							<input placeholder="0"  id="heatTransportedPellets">
							<select>
								<option value="G">GJ</option>
								<option value="M">MJ</option>
								<option selected value="K">kJ</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=transportedPellets%></sub>
						</td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-truck" class="far fa-question-circle"> </i> <%=truckLength%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr  class="hiddenRow">
						<td colspan="2"></td>
						<td>
							<input placeholder="50" id="kmTruckTransport_pellets">
							<select>
								<option selected value="K">km</option>
								<option value="simple">m</option>
							</select>
							<sub><%=truck%></sub>
						</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-moisture" class="far fa-question-circle"></i> <%=moisture%>
							<button class="maximizeRow">+</button>
						</th>
					</tr>
					<tr class="hiddenRow">
						<td>
							<input  placeholder="40" id="moisture_dust_pellets">
							&percnt;<sub><%=sawdustUnit%></sub>
						</td>
						<td>
							<input placeholder="6" id="moisture_pellets">
							&percnt;<sub><%=pelletsUnit%></sub>
						</td>
						<td colspan="3"></td>
					</tr>
					<tr>
						<th colspan="5"> <i id="pellets-temp" class="far fa-question-circle"></i> <%=temperature%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="3"></td>
						<td>
							<input placeholder="90" id="usefulC_pellets"> 
							°C<sub><%=useful%></sub>
							<br>
							<input placeholder="10" id="surroundC_pellets"> 
							°C<sub><%=surroundings%></sub>
						</td>
					</tr>
				</table>
				<button id="calculatePellets"><%=calculate%></button>
			</section>
 

			
			<section class="myForm" id="woodChips" style="display: none">
				<table id="woodChipsTable">
					<tr class="titleRow">
						<th><%=inputting%> <i class="fas fa-tree"></i></th>
						<th><%=chipping%> <i class="fas fa-haykal"></i></th>
						<th><%=magnetic%><i class="fas fa-magnet"></i></th>
						<th><%=trandsportation%> <i class="fas fa-truck-loading"></i></th>
						<th><%=combustion%> <i class="fab fa-gripfire"></i></th>
						<th><%= outputWind %>   <i class="fas fa-plug"></i></th>
					</tr>
					<tr class="subtitleRow">
						<td class="subtitleCell"><%=wood%></td>
						<td class="subtitleCell"><%=chips%></td>
						<td class="subtitleCell"><%=seperetedChips%></td>
						<td class="subtitleCell"><%=transportedChips%></td>
						<td class="subtitleCell"><%=convertedChips%></td>
						<td class="subtitleCell"><%=heatElectricity%></td>
					</tr>
					<tr>
						<th colspan="6">
							<i id="chips-anual" class="far fa-question-circle"></i> <%=anualProductionTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="5"></td>
						<td>
							<input placeholder="0" id="chipsellectOutput"> 
							<select>
								<option value="G">GMh</option>
								<option selected value="M">MWh</option>
								<option value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%> </sub> <br>
							<input placeholder="0"  id="chipsHeatOutput"> <select>
								<option selected value="G">GJ</option>
								<option value="M">MJ</option>
								<option value="K">kj</option>
							</select>
							<sub><%=heat%></sub>/<%=year%>
						</td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-weight" class="far fa-question-circle"></i> <%=annualWeightChips%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="3"></td>
						<td>
							<input placeholder="0" id="trasportedChips"> 
							<select>
								<option selected value="Ton">Ton</option>
								<option value="K">kg</option>
							</select>
							<sub><%=transportedChipsUnit%></sub>/<%=year%>
						</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-lost" class="far fa-question-circle"></i> <%=percentageLostTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td>
							<input  type="number" min="0" max="10"  placeholder="0" id="feedstock_chips_loss">
							&percnt;<sub><%=feedstockSawdust%></sub>
						</td>
						<td><input  type="number" min="0" max="10" placeholder="0"  id="wood_chips_loss">
							&percnt;<sub><%=sawdustUnit%></sub>
						</td>
						<td>
							<input  type="number" min="0" max="10" placeholder="0"  id="chips_loss">
							&percnt;<sub><%=chipsUnit%></sub>
						</td>
						<td>
							<input  type="number" min="0" max="10"  placeholder="0" id="seperated_chips_loss">
							&percnt;<sub>seperated_chips</sub>
						</td>
						<td>
							<input type="number" min="0" max="10"  placeholder="0"  id="transported_chips_loss">
							&percnt;<sub><%=transportedChipsUnit%></sub>
						</td>
						<td></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-gas-electricity-used" class="far fa-question-circle"></i> <%=electricityWasted%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td></td>
						<td>
							<input placeholder="75" id="electricityChipping">
							 <select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=pelletsUnit%></sub>
						</td>
						<td>
							<input placeholder="0.6" id="electricityMegneticSeparation"> 
							<select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=pelletsUnit%></sub>
		
						</td>
						<td></td>
						<td>
							<input placeholder="0"  id="electricityTransportedChips">
							<select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=transportedChipsUnit%></sub>
							<br>
							<input  placeholder="0" id="heatTransportedChips">
							<select>
								<option value="G">GJ</option>
								<option selected value="M">MJ</option>
								<option value="K">kJ</option>
							</select>
							<sub><%=electricityUnit%></sub>/ton<sub><%=transportedChipsUnit%></sub>
						</td> 
						<td></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-truck" class="far fa-question-circle"></i> <%=truckLengthChips%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="3"></td>
						<td>
							<input placeholder="50" id="kmTruckTransport_chips">
							<select>
								<option selected value="K">km</option>
								<option value="simple">m</option>
							</select>
							<sub><%=truck%></sub>
						</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-moisture" class="far fa-question-circle"></i> <%=moisture%> 
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td>
							<input placeholder="50" id="moisture_wood_chips">
							&percnt;<sub><%=woodUnit%></sub>
						</td>
						<td>
							<input placeholder="30" id="moisture_chips">
							&percnt;<sub><%=chipsUnit%></sub>
						</td>
						<td colspan="4"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="chips-temp" class="far fa-question-circle"></i> <%=temperature%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="4"></td>
						<td>
							<input placeholder="90" id="usefulC_chips"> 
							°C<sub><%=useful%></sub>
							<br>
							<input placeholder="10" id="surroundC_chips"> 
							°C<sub><%=surroundings%></sub>
						</td>
						<td></td>
					</tr>
				</table>
				<button id="calculateChips"><%=calculate%></button>
			</section>

			<section class="myForm" id="manure" style="display: none">
				<table id="manureTable">
					<tr  class="titleRow">
						<th><%=inputting%> <i class="fas fa-box-open"></i></th>
						<th><%=trandsportation%> <i class="fas fa-truck-loading"></i></th>
						<th><%=handling%> <i class="fas fa-boxes"></i></th>
						<th><%=digestion%>  <i class="fas fa-vials"></i></th>
						<th><%=combustion%> <i class="fab fa-gripfire"></i></th>
						<th><%= outputWind %>  <i class="fas fa-plug"></i></th>
					</tr>
					<tr class="subtitleRow">
						<td class="subtitleCell"><%=manure%></td>
						<td class="subtitleCell"><%=transportedManure%></td>
						<td class="subtitleCell"><%=storedManure%></td>
						<td class="subtitleCell"><%=biogas%></td>
						<td class="subtitleCell"><%=convertedBiogas%></td>
						<td class="subtitleCell"><%=heatElectricity%></td>
					</tr>
					<tr >
						<th colspan="6">
							<i id="manure-anual" class="far fa-question-circle"></i> <%=anualProductionTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="5"></td>
						<td>
							<input placeholder="0" id="manurellectOutput"> <select>
								<option value="G">GMh</option>
								<option selected value="M">MWh</option>
								<option  value="K">kWh</option>
							</select>
							<sub><%=electricityUnit%></sub> <br>
							<input placeholder="0"  id="manureHeatOutput"> <select>
								<option selected value="G">GJ</option>
								<option value="M">MJ</option>
								<option value="K">kJ</option>
							</select>
							<sub><%=heat%></sub>/<%=year%>
						</td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-weight" class="far fa-question-circle"></i> <%=annualWeightManure%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td> <input placeholder="0"  id="annualManureWeight">
						<select>
							<option selected value="Ton">Ton</option>
							<option value="K">kg</option>
						</select>
						<sub><%=feedstockManure%></sub>/<%=year%></td>
						<td colspan="5"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-efficient" class="far fa-question-circle"></i> <%=efficiencyTransformation%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="4"></td>
						<td>
							<input placeholder="21" id="efficienyManureTransformation"> 
							m<sup>3</sup><sub><%=biogasUnit%></sub>/ton<sub><%=storedManureUnit%></sub>
						</td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-lost" class="far fa-question-circle"></i> <%=percentageLostTitle%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td>
							<input type="number" min="0" max="10"   placeholder="0"  id="percentege_feedstock_manure_loss">
							&percnt;<sub><%=feedstockManure%></sub>
						</td>
						<td><input   type="number" min="0" max="10" placeholder="0"  id="manure_loss">
							&percnt;<sub><%=manureUnit%></sub>
						</td>
						<td>
							<input  type="number" min="0" max="10"  type="number" min="0" max="10"  placeholder="0"  id="transported_manures_loss">
							&percnt;<sub><%=transportedManureUnit%></sub>
						</td>
						<td></td>
						<td>
							<input   type="number" min="0" max="10" placeholder="0" id="biogas_loss">
							&percnt;<sub><%=biogasUnit%></sub>
						</td>
						<td></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-gas-electricity-used" class="far fa-question-circle"></i> <%=electricityWasted%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="2"></td>
						<td>
							<input  placeholder="0"  id="electricityTranportedManure"> <select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							/ton<sub><%=transportedManureUnit%></sub>
						</td>
						<td>
							<input placeholder="0"  id="electricityDigestionManure"> <select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							/ton<sub><%=storedManureUnit%> </sub>
							<br>
							<input  placeholder="0" id="heatDigestionManure"> 
							<select>
								<option value="G">GJ</option>
								<option selected value="M">MJ</option>
								<option value="K">kJ</option>
							</select>
							/ton<sub><%=storedManureUnit%></sub>

						</td>
						<td>
							<input  placeholder="0" id="electricityCombustionManure">
							<select>
								<option value="G">GMh</option>
								<option value="M">MWh</option>
								<option selected value="K">kWh</option>
							</select>
							/m<sup>3</sup><sub><%=biogasUnit%></sub>
							<br>
							<input placeholder="0"  id="heatCombustionManure">
							<select>
								<option value="G">GJ</option>
								<option selected value="M">MJ</option>
								<option value="K">kJ</option>
							</select>
							/m<sup>3</sup><sub><%=biogasUnit%></sub>
						</td> 
						<td></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-truck" class="far fa-question-circle"></i> <%=truckLengthManure%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td></td>
						<td>
							<input placeholder="50" id="kmTruckManure">
							<select>
								<option selected value="K">Km</option>
								<option value="simple">m</option>
							</select>
							<sub><%=truck%></sub>
						</td>
						<td colspan="4"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-methane" class="far fa-question-circle"></i> <%=methaneGas%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="3"></td>
						<td>
							<input placeholder="55" id="methane_content">
							&percnt;<sub><%=methaneUnit%></sub>
						</td>
						<td colspan="2"></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-temp" class="far fa-question-circle"></i> <%=temperature%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="4"></td>
						<td>
							<input placeholder="90" id="usefulC_Manure"> 
							°C<sub><%=useful%></sub>
							<br>
							<input placeholder="10" id="surroundC_Manure"> 
							°C<sub><%=surroundings%></sub>
						</td>
						<td></td>
					</tr>
					<tr>
						<th colspan="6"> <i id="manure-emision" class="far fa-question-circle"></i> <%=emissionGasses%>
							<button class="maximizeRow">+</button>
					
						</th>
					</tr>
					<tr class="hiddenRow">
						<td colspan="2"></td>
						<td>
							<input placeholder="0"  id="co2ProducedManure">kgCO<sup>2</sup>/ton<sub><%=transportedManureUnit%></sub>
							<br>
							<input placeholder="0.155" id="ch4ProducedManure">kgCH<sup>4</sup>/ton<sub><%=transportedManureUnit%></sub>
							<br>
							<input placeholder="0.0007" id = "N2oProducedManure"> kgN<sup>2</sup>O/ton<sub><%=transportedManureUnit%></sub>
						</td>
						<td colspan="3"></td>
					</tr>
				</table>
				<button id="calculateManure"><%=calculate%></button>
				
			</section>

			<h5 id="test"></h5>
		</main>
	<footer>
		<p id="copyright">
			&copy;<%=copyRight%>
		</p>
	</footer>
	</body>
</html>
